body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2vmin;
    height: 100vh;
    background: url(../../../public/schoolbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
  
  .program {
    color: black;
    background-color: rgba(230, 216, 216, .6);
    border-style: none;
    border-radius: 1pc;
    padding: 25px;
    margin: 15px;
    justify-content: center;
  }
  

  
  .align-left {
      position: relative;
    text-align: left;
    justify-content: left;
    opacity: 1;
  }
  
